<div class="salles-container">
    <h2>Liste des salles</h2>
    <button class="btn btn-info" (click)="onSalleAjoutee()">Ajouter</button>

  
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Capacité</th>
          <th>Équipements</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let salle of salles">
          <td>{{ salle.nom }}</td>
          <td>{{ salle.capacite }}</td>
          <td>{{ salle.equipements }}</td>
          <td>
            <button class="btn btn-info" (click)="onModifierSalle(salle)">Modifier</button>
            <button (click)="deleteSalle(salle.id)" class="btn btn-danger">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
